.aboutus-title {
    position: relative;
    font-size: 8rem;
    padding-top: 2rem;
}

.about-cont{
    all: unset;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: auto;
    text-align: center;
    word-wrap: break-word;
    color: white;
    gap: 2em;
    font-size: 1rem;
    background-color: #222;
    padding: 2em;
    line-height: 1.5;
}

.about-cont > *{
    flex-basis: 100%;
}

.about-content{
    /* padding: 2em; */
    text-align: left;
}

.github-cont {
    padding: 2em;
    background-color: #ff0043;
    outline: 2px solid white;
    outline-offset: -10px;
    /* margin: auto; */
}



@media screen and (max-width: 1200px) {
    .about-cont{
        flex-direction: column;
    }
}